
<div class="project mySlides smooth">

  <a href="/projects/{{{project._id}}}" target="_blank">
    <div class="project-image" style="background-image: url({{project.imageURL}})">
      <!-- <img src="{{project.imageURL}}" alt=""> -->
    </div>
  </a>

  <div class="project-info">
    <div class="project-title">
      {{ project.title }}
    </div>
    <div class="project-description">
      {{ project.description }}
    </div>
    <!-- <form action="api/projects/{{project._id}}?_method=DELETE" method="POST">
      <input class="btn btn-primary" type="submit" value="delete">
    </form>
    <a class="btn btn-primary" href="projects/{{project._id}}/edit">Edit</a> -->

  </div>


</div>
